body {
    background: #2c2c2c;
}
aside {
    float: left;
    background: #181818;
    width: 20%;
    padding: 2.5%;
    height: 100vh;
    color: #fff;
    border-right: 5px solid #4d4d4d;
}

aside img {
    width: 150px;
    float: left;
    position: relative;
    top: -30px;
}

aside .logo {
    font-size: 20px;
    margin-left: 20px;
    font-weight: bold;
    position: relative;
    top: -115px;
}
aside h3 {
    font-weight: 400;
    font-size: 20px;
    margin-left: -20px;
}

aside ul {
    margin-top: -100px;
    margin-left: -35px;
    list-style: none;
}
aside ul li {
    color: #fff;
    display: block;
    margin-top: 15px;
    transition: transform .6s ease;
}

aside ul li:hover, aside ul li a:hover {
    color: #eb5959;
    text-decoration: none;
    transform: scale(1.07);
}

main .freatures {
    float: left;
    color: #fff;
    margin-top: 100px;
    text-align: center;
    width: 75%;
}

main .freatures h1 {font-size: 50px;}
main .freatures p {max-width: 400px; margin: 20px auto;}

/* .alert-warning {
    float: left;
    clear: both;
    width: 400px;
    margin: 20px 34%;
    text-align: left;
} */

h1 {
    font-weight: 700;
}

/* form {
    margin: 32%;
    width: 500px;
    margin-top: 50px;
} */