{% extends 'main/layout.html' %}

{% block title %}Про нас{% endblock %}

{% block content %}
<div class="freatures">
    <h1>Про нас</h1>
    <p>
        Жанр короткого рассказа примечателен тем, что считанным количеством слов создается большая история, которая предполагает пораскинуть мозгами и улыбнуться, или подталкивает воображение к полету мыслей и пониманий. Прочитав всего одну эту страницу может создаться впечатление, что осилил несколько книг.
    </p>
    <button class="btn btn-danger">Проверка</button>
</div>
{% endblock %}