{% extends 'main/layout.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="freatures">
        <h1>{{ title }}</h1>
        <p>
            IT в каждой детали своей страницы "Про нас" подчеркивают любовь к производству сайтов и приложений. После говорящей картинки появляется краткая информация о предприятии и кнопка, которая дает возможность узнать больше о компании “Newspaper”.
        </p>
        <button class="btn btn-warning">На страницу про нас</button>
    </div>
{% endblock %}